/* Style for the warehouse list page */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .card {
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
  }
  
  button {
    margin-top: 10px;
    width: 100%;
  }
  
  .p-table th, .p-table td {
    text-align: center;
  }
  
  .p-table .p-sortable-column {
    cursor: pointer;
  }
  
  .p-paginator {
    margin-top: 20px;
  }
  